@charset "UTF-8";

/*PALETA DE CORES

    Azul escuro: #0A21A6
    Azul Claro: #7292F2
    Lilás: #F2ACB9
    
*/

/* Typical Devices Breakpoints
-------------------------------
Pequenas Telas: até 600px
Celular: 601px até 768 px
Tablet: 769px até 1024px
Desktop: 1025px até 1200px
Telas Grandes: 1201px ou mais 

*/

